body {
  font-family: "Hiragino Kaku Gothic ProN";
  background-repeat: round;
  background-color: #67A2B7;
  background-image: url(../img/light_S.png);
  margin: 0px;
}
.body2 {
  background-image: url(../img/sitebody_code_wide.png);
  background-repeat: round;
  margin: 0px;
}
.button {
  height: 70px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.button:hover {
  /* transition: 対象 時間;でアニメーション */
  transition: all 1.5s;
  opacity: 0.6;
  background-color: rgba(0, 255, 255, 0.5);
}
header {
  background-image: url(../img/backcolor.png);
  height: 70px;
  padding: 10px;
  width: auto;
  display: flex;
  justify-content: space-between;
  /* box-shadow: 3px 3px 6px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset; */
  /* box-shadow: 左右の向きpx  上下の向きpx ぼかしpx 広がりpx 色 内側指定; */
  box-shadow: 3px 3px 6px 2px rgba(0,0,0,0.5) inset;
}
.wrapper{
  display: flex;
}
/* ここからPG密室の括り */
#frameA1{
  background-color: rgb(255, 255, 255, 0.4);
  padding: 5px;
  margin: 10px;
  flex-basis: 50%;
}
#frameB1{
  background-color: rgb(255, 255, 255, 0.4);
  padding: 10px;
  margin: 10px;
  flex-basis: 50%;
}
.frame2 {
  text-align: center;
  background-image: url(../img/backcolor.png);
  padding: 30px 30px;
  margin: 20px;
}
#subheading {
  /* positon: relativeで実際に表示される位置より相対的な指定距離だけ移動した位置に表示出来る。 */
  position: relative;
  bottom: 40px;
}
.container {
  background-color: rgb(198, 156, 109, 0.7);
  opacity: 80%;
  text-align: center;
}
.gameP {
  cursor: pointer;
  text-align: center;
  height: 300px;
  background-image: url(../img/dasyutu.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  bottom: 40px;
  padding: 20px;
  margin: 20px;
  flex-basis: 100%;
}
.gameP2 {
  cursor: pointer;
  text-align: center;
  height: 300px;
  background-image: url(../img/suirigameKari.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  bottom: 40px;
  padding: 20px;
  margin: 20px;
  flex-basis: 100%;
}
.gameP:hover {
  opacity: 0.7;
}
.gameP2:hover {
  opacity: 0.7;
}
.instructions {
  background-image: url(../img/Eemage_logo_back.png);
  background-repeat: round;
}
.mask1 {

}
.Sentence {
  color: white;
  text-align: left;
  margin-top: 10px;
}
h1 {
  font-size: 20px;
  margin: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  opacity: 1;
}
p {
  margin: 0px;
}
/* ここまでがPG密室の括り */
